# .github/workflows/jekyll-algolia.yml
on: [push]

env:
  ruby-version: "3.1"

jobs:
  build:
    name: Algolia push records

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby-version }}
          bundler-cache: true
      - name: Install system dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y build-essential libffi-dev
      - name: Install Ruby dependencies
        run: |
          gem install bundler
          bundle config set --local deployment 'true'
          bundle config set --local path 'vendor/bundle'
          bundle install --jobs 4 --retry 3
      - name: Push algolia records
        if: success() && github.ref == 'refs/heads/master'
        run: bundle exec jekyll algolia
        env:
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
